In [1]:
%reload_ext autoreload
%autoreload 2

from preprocessing_merge import *
from preprocessing_train_test import *

/Users/c.s./miniconda3/envs/cs5228_hdb/lib/python3.7/site-packages/geopandas/_compat.py:115: UserWarning:

The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.

In [2]:
%%time

# Import data
train_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "train.csv"))
test_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "test.csv"))

commerical_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "auxiliary-data/sg-commerical-centres.csv"))
market_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "auxiliary-data/sg-gov-markets-hawker-centres.csv"))

population_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "auxiliary-data/sg-population-demographics.csv"))

primary_School_df =  pd.read_csv(os.path.join(DATA_DIRECTORY, "auxiliary-data/sg-primary-schools.csv"))
secondary_School_df =  pd.read_csv(os.path.join(DATA_DIRECTORY, "auxiliary-data/sg-secondary-schools.csv"))

mall_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "auxiliary-data/sg-shopping-malls.csv"))
train_station_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "auxiliary-data/sg-train-stations.csv"))

CPU times: user 1.18 s, sys: 219 ms, total: 1.4 s
Wall time: 1.84 s

In [3]:
print(train_df.shape)

(431732, 17)

In [7]:

file_path_train = "../data/backup/merge_auxiliary_data_train.csv"
file_path_test = "../data/backup/merge_auxiliary_data_test.csv"
# if it is first time running, run the preprocess, otherwise load saved merged file
if os.path.exists(file_path_train):
    train_gdf = pd.read_csv(file_path_train)
else:
    train_gdf = merge_auxiliary_data(train_df, commerical_df, market_df, population_df, primary_School_df, secondary_School_df, mall_df, train_station_df)
    train_gdf.to_csv(file_path_train)

if os.path.exists(file_path_test):
    test_gdf = pd.read_csv(file_path_test)
else:
    test_gdf = merge_auxiliary_data(test_df, commerical_df, market_df, population_df, primary_School_df, secondary_School_df, mall_df, train_station_df)
    test_gdf.to_csv(file_path_train)

print("train dataset shape: ", train_gdf.shape)
print("test dataset shape: ",test_gdf.shape)

train dataset shape:  (431732, 67)
test dataset shape:  (107934, 66)

In [8]:
train_gdf, test_gdf = preprocess_train_test(train_gdf, test_gdf)
# test_gdf = preprocess_train_and_test(test_df)
train_gdf.shape

KeyError: 'latitude'

In [ ]:
train_gdf.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,eco_category,lease_commence_date,...,MinSecDist,nearSecondCount,name,lat,lng,wikipedia_link,id,closeShopID,MinShopDist,nearShopCount
0,2001-08,pasir ris,4 room,440,pasir ris drive 4,01 to 03,118.0,model a,uncategorized,1989,...,0.426133,4,Downtown East,1.377372,103.954648,/wiki/NTUC_Downtown_East,68,[],1.028774,0
1,2002-09,pasir ris,4 room,473,pasir ris drive 6,04 to 06,103.0,model a,uncategorized,1989,...,0.245498,3,Downtown East,1.377372,103.954648,/wiki/NTUC_Downtown_East,68,"[68, 67]",0.438722,2
2,2020-10,pasir ris,executive,220,pasir ris street 21,10 to 12,152.0,apartment,uncategorized,1993,...,0.322508,3,Downtown East,1.377372,103.954648,/wiki/NTUC_Downtown_East,68,[],1.072942,0
3,2010-10,pasir ris,4-room,474,Pasir Ris Drive 6,04 to 06,105.0,model a,uncategorized,1989,...,0.163950,3,Downtown East,1.377372,103.954648,/wiki/NTUC_Downtown_East,68,"[68, 67]",0.364509,2
4,2002-08,pasir ris,4 room,751,Pasir Ris Street 71,04 to 06,104.0,model a,uncategorized,1996,...,2.374293,0,Elias Mall,1.378555,103.942013,NaN,93,[93],0.886690,1

In [ ]:
train_gdf_1 = merge_trainST_and_population(train_gdf, train_station_df, population_df)
train_gdf_1.shape

(431417, 45)

In [ ]:
train_gdf_2 = merge_commerical_and_market(train_gdf_1, commerical_df, market_df)
train_gdf_2.shape

(431417, 52)

In [ ]:
train_gdf_3 = merge_school_and_mall(train_gdf_2, primary_School_df, secondary_School_df, mall_df)
train_gdf_3.shape

(431417, 74)

In [ ]:
train_gdf.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,eco_category,lease_commence_date,...,subzone,planning_area,region,resale_price,price_psm,datetime,min_lat,min_lon,remaining_lease,geometry
0,20,pasir ris,4 room,440,pasir ris drive 4,01 to 03,118.0,model a,uncategorized,1989,...,pasir ris drive,pasir ris,east region,209700.0,1777.118644,2001-08-01,1.27038,103.685228,65,POINT (41953.072 39003.840)
1,178,punggol,5-room,196B,punggol field,10 to 12,110.0,improved,uncategorized,2003,...,punggol field,punggol,north-east region,402300.0,3657.272727,2014-10-01,1.27038,103.685228,79,POINT (36198.700 42320.743)
2,249,sengkang,5 room,404A,fernvale lane,01 to 03,112.0,premium apartment,uncategorized,2004,...,fernvale,sengkang,north-east region,351000.0,3133.928571,2020-09-01,1.27038,103.685228,80,POINT (32506.711 41142.046)
3,10,clementi,3 room,375,clementi avenue 4,07 to 09,67.0,new generation,uncategorized,1980,...,clementi north,clementi,west region,151200.0,2256.716418,2000-10-01,1.27038,103.685228,56,POINT (20586.186 33417.872)
4,157,bukit batok,3-room,163,bukit batok street 11,07 to 09,73.0,model a,uncategorized,1985,...,bukit batok west,bukit batok,west region,318600.0,4364.383562,2013-01-01,1.27038,103.685228,61,POINT (17910.496 36697.226)

In [ ]:
train_gdf_1.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,eco_category,lease_commence_date,...,senior_citizen_count,teenager_count,young_adult_count,female_count,male_count,male_female_ratio,male_female_ratio_bins,adult_children_ratio,adult_children_ratio_bins,population_bins
0,20,pasir ris,4 room,440,pasir ris drive 4,01 to 03,118.0,model a,uncategorized,1989,...,2840.0,8970.0,10450.0,29980.0,29530.0,0.984990,2,3.094151,0,1
1,33,pasir ris,4 room,473,pasir ris drive 6,04 to 06,103.0,model a,uncategorized,1989,...,2840.0,8970.0,10450.0,29980.0,29530.0,0.984990,2,3.094151,0,1
2,250,pasir ris,executive,220,pasir ris street 21,10 to 12,152.0,apartment,uncategorized,1993,...,2840.0,8970.0,10450.0,29980.0,29530.0,0.984990,2,3.094151,0,1
3,130,pasir ris,4-room,474,Pasir Ris Drive 6,04 to 06,105.0,model a,uncategorized,1989,...,2840.0,8970.0,10450.0,29980.0,29530.0,0.984990,2,3.094151,0,1
4,32,pasir ris,4 room,751,Pasir Ris Street 71,04 to 06,104.0,model a,uncategorized,1996,...,1550.0,6190.0,5320.0,18380.0,17970.0,0.977693,2,2.671162,0,0

In [ ]:
train_gdf_2.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,eco_category,lease_commence_date,...,adult_children_ratio,adult_children_ratio_bins,population_bins,name_commerical,type_commerical,nearest_dist_commerical,inRangeCount_commerical,name_market,nearest_dist_market,inRangeCount_market
0,20,pasir ris,4 room,440,pasir ris drive 4,01 to 03,118.0,model a,uncategorized,1989,...,3.094151,0,1,Tampines Regional Centre,CR,2307.220670,0,Pasir Ris Central Hawker Centre,944.999950,1
1,33,pasir ris,4 room,473,pasir ris drive 6,04 to 06,103.0,model a,uncategorized,1989,...,3.094151,0,1,Loyang Industrial Estate,IEBP,2141.656219,0,Pasir Ris Central Hawker Centre,680.132878,1
2,250,pasir ris,executive,220,pasir ris street 21,10 to 12,152.0,apartment,uncategorized,1993,...,3.094151,0,1,Loyang Industrial Estate,IEBP,2102.336975,0,Pasir Ris Central Hawker Centre,1130.961404,0
3,130,pasir ris,4-room,474,Pasir Ris Drive 6,04 to 06,105.0,model a,uncategorized,1989,...,3.094151,0,1,Loyang Industrial Estate,IEBP,2203.042285,0,Pasir Ris Central Hawker Centre,605.912560,1
4,32,pasir ris,4 room,751,Pasir Ris Street 71,04 to 06,104.0,model a,uncategorized,1996,...,2.671162,0,0,Pasir Ris Wafer Fab Park,IEBP,469.599409,1,Pasir Ris Central Hawker Centre,1988.620026,0

In [ ]:
train_gdf_3.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,eco_category,lease_commence_date,...,MinSecDist,nearSecondCount,name,lat,lng,wikipedia_link,id,closeShopID,MinShopDist,nearShopCount
0,20,pasir ris,4 room,440,pasir ris drive 4,01 to 03,118.0,model a,uncategorized,1989,...,426.133423,1,Downtown East,1.377372,103.954648,/wiki/NTUC_Downtown_East,68,[],1028.774043,0
1,33,pasir ris,4 room,473,pasir ris drive 6,04 to 06,103.0,model a,uncategorized,1989,...,245.497637,2,Downtown East,1.377372,103.954648,/wiki/NTUC_Downtown_East,68,[68],438.721976,1
2,250,pasir ris,executive,220,pasir ris street 21,10 to 12,152.0,apartment,uncategorized,1993,...,322.508421,1,Downtown East,1.377372,103.954648,/wiki/NTUC_Downtown_East,68,[],1072.941951,0
3,130,pasir ris,4-room,474,Pasir Ris Drive 6,04 to 06,105.0,model a,uncategorized,1989,...,163.949587,2,Downtown East,1.377372,103.954648,/wiki/NTUC_Downtown_East,68,[68],364.508694,1
4,32,pasir ris,4 room,751,Pasir Ris Street 71,04 to 06,104.0,model a,uncategorized,1996,...,2374.293150,0,Elias Mall,1.378555,103.942013,NaN,93,[],886.689517,0

In [ ]:
train_gdf_3.columns

Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'eco_category', 'lease_commence_date',
       'elevation', 'subzone', 'planning_area', 'region', 'resale_price',
       'price_psm', 'datetime', 'min_lat', 'min_lon', 'remaining_lease',
       'geometry', 'mrt_name', 'codes', 'opening_year', 'type_commerical',
       'distance_to_mrt', 'distance_to_mrt_km', 'mrt_lrt_links',
       'mrt_interchange_flag', 'mrt_interchange_count', 'codes_name',
       'distance_to_mrt_bins', 'population_count', 'adult_count',
       'children_count', 'senior_citizen_count', 'teenager_count',
       'young_adult_count', 'female_count', 'male_count', 'male_female_ratio',
       'male_female_ratio_bins', 'adult_children_ratio',
       'adult_children_ratio_bins', 'population_bins', 'name_commerical',
       'type_commerical', 'nearest_dist_commerical', 'inRangeCount_commerical',
       'name_market', 'nearest_dist_market', 'inRangeCount_market', 'name',
       'lat', 'lng', 'id', 'closePrimaryID', 'MinPrimaryDist',
       'nearPrimaryCount', 'name', 'lat', 'lng', 'id', 'closeSecondID',
       'MinSecDist', 'nearSecondCount', 'name', 'lat', 'lng', 'wikipedia_link',
       'id', 'closeShopID', 'MinShopDist', 'nearShopCount'],
      dtype='object')